[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi +%]
[% PROCESS global/variables.none.tmpl +%]
Gear Request:

            Requester: [% cgi.param('firstname') %] [% cgi.param('lastname') %]
                Email: [% cgi.param('email') %]
    Mozillian Profile: [% cgi.param('mozillian') || "-" %]
             MozSpace: [% cgi.param('mozspace') || "-" %]
Team + Deparment Code: [% cgi.param('teamcode') %]
      Purpose of Gear: [% cgi.param("purpose") %] [%+ cgi.param("purpose_other") %]
        Date Required: [% cgi.param("date_required") || "-" %]

Gear Needed:

[%+ cgi.param("gear") %]

[% IF cgi.param("purpose") == "Mozillian Recognition" %]
This [% terms.bug %] needs recipient shipping information: [% cgi.param("recognition_shipping") ? "Yes" : "No" %]
This [% terms.bug %] needs recipient size information: [% cgi.param("recognition_sizing") ? "Yes" : "No" %]
[% END %]

[% IF cgi.param("shiptofirstname") %]
Ship to:
    [%+ cgi.param("shiptofirstname") +%] [%+ cgi.param("shiptolastname") +%]
    [%+ cgi.param("shiptoemail") +%]
    [%+ cgi.param("shiptoaddress1") +%]
    [%+ cgi.param("shiptoaddress2") +%]
    [%+ cgi.param("shiptocity") +%] [%+ cgi.param("shiptostate") +%] [%+ cgi.param("shiptopostcode") +%]
    [%+ cgi.param("shiptocountry") %]
Phone: [% cgi.param("shiptophone") %]
Personal ID/RUT: [% cgi.param("shiptoidrut") || "-" %]
[% END %]

[% IF cgi.param("comment") %]
Additional comments:

[%+ cgi.param("comment") %]
[% END %]

