[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% inline_style = BLOCK %]
#gear_form th {
  text-align: right;
}

.mandatory {
  color: red;
}
[% END %]

[% inline_javascript = BLOCK %]
var Dom = YAHOO.util.Dom;

function validateAndSubmit() {
  var alert_text = '';
  if (!isFilledOut('firstname')) alert_text += "Please enter your first name.\n";
  if (!isFilledOut('lastname')) alert_text += "Please enter your last name.\n";
  if (!isValidEmail(Dom.get('email').value)) alert_text += "Please enter a valid email address.\n";
  if (!isFilledOut('mozspace')) alert_text += "Please select your MozSpace.\n";
  if (!isFilledOut('teamcode')) alert_text += "Please select your Team + Department Code.\n";
  if (!isFilledOut('purpose')) {
    alert_text += "Please select the Purpose for this Gear.\n";
  } else {
    if (Dom.get('purpose').value.match(/:$/) && !isFilledOut('purpose_other'))
      alert_text += "Please enter the Purpose for this Gear.\n";
  }
  if (!isFilledOut('gear')) alert_text += "Please enter the Gear Needed.\n";
  if (!isFilledOut('shiptofirstname')
    || !isFilledOut('shiptolastname')
    || !isFilledOut('shiptoaddress1')
    || !isFilledOut('shiptoaddress2')
    || !isFilledOut('shiptocity')
    || !isFilledOut('shiptostate')
    || !isFilledOut('shiptocountry')
    || !isFilledOut('shiptopostcode')
    || !isFilledOut('shiptophone'))
  {
    alert_text += "Please enter all the Ship to Information.\n";
  }

  if (alert_text != '') {
    alert(alert_text);
    return false;
  }

  Dom.get('short_desc').value = 'Gear Request - ' + Dom.get('firstname').value + ' ' + Dom.get('lastname').value;
  return true;
}

function onPurposeChange() {
  var purpose = Dom.get('purpose');
  var other = Dom.get('purpose_other');
  var value = purpose.value;
  if (value.match(/^Event/)) {
    other.placeholder = 'link to wiki'
    Dom.removeClass(other, 'bz_default_hidden');
  } else if (value.match(/^Gear closet/)) {
    other.placeholder = 'indicate space'
    Dom.removeClass(other, 'bz_default_hidden');
  } else if (value == 'Other:') {
    other.placeholder = 'more information';
    Dom.removeClass(other, 'bz_default_hidden');
  } else {
    Dom.addClass(other, 'bz_default_hidden');
  }
}
[% END %]

[% mandatory = BLOCK %]
  &nbsp;<span class="mandatory">*</span>
[% END %]

[% PROCESS global/header.html.tmpl
   title = "Gear Request Form"
   style = inline_style
   javascript = inline_javascript
   javascript_urls = [ 'extensions/BMO/web/js/form_validate.js',
                       'js/field.js' ]
   yui = [ 'autocomplete' ]
%]

<h1>Gear Request Form</h1>

<p>
  <b>Gear Request:</b> Please use this form to file a request for gear.
</p>

<p>
  Review
  <a href="https://wiki.mozilla.org/GearStore" target="_blank">https://wiki.mozilla.org/GearStore</a>
  before ordering your gear. You will find guidelines for gear usage plus
  information about what gear is available.
</p>

<ol>
  <li>Choose what items you would like to request.</li>
  <li>Complete and submit the request below.</li>
  <li>Requests are reviewed by the Gear Coordinator every Monday.</li>
  <li>If approved, your order will be sent to Staples for processing and
  shipment. If your order is not approved, you will receive an explanation why
  it was not approved or a request for more information.</li>
</ol>

<p>
  Requests will only be visible to the person who submitted it, any persons
  designated in the CC line, and authorized members of the Mozilla Engagement
  team.
</p>

<form method="post" action="post_bug.cgi" id="swagRequestForm" enctype="multipart/form-data"
      onSubmit="return validateAndSubmit();">
  <input type="hidden" name="format" value="swag">
  <input type="hidden" name="product" value="Marketing">
  <input type="hidden" name="component" value="Swag Requests">
  <input type="hidden" name="rep_platform" value="All">
  <input type="hidden" name="op_sys" value="Other">
  <input type="hidden" name="priority" value="--">
  <input type="hidden" name="version" value="unspecified">
  <input type="hidden" name="bug_severity" id="bug_severity" value="normal">
  <input type="hidden" name="short_desc" id="short_desc" value="">
  <input type="hidden" name="groups" value="mozilla-corporation-confidential">
  <input type="hidden" name="token" value="[% token FILTER html %]">

<table id="gear_form">

<tr>
  <th>First Name [% mandatory FILTER none %]</th>
  <td><input name="firsrname" id="firstname" size="50" maxlength="30"></td>
</tr>

<tr>
  <th>Last Name [% mandatory FILTER none %]</th>
  <td><input name="lastname" id="lastname" size="50" maxlength="30"></td>
</tr>

<tr>
  <th>Email Address [% mandatory FILTER none %]</th>
  <td><input name="email" id="email" size="50" maxlength="50"></td>
</tr>

<tr>
  <th>CC</th>
  <td>
    [% INCLUDE global/userselect.html.tmpl
       id => "cc"
       name => "cc"
       value => cc
       size => 50
       multiple => 5
    %]
  </td>
</tr>

<tr>
  <th>My MozSpace [% mandatory FILTER none %]</th>
  <td>
    <select name="mozspace" id="mozspace">
      <option value="">Please select..</option>
      <option value="Mountain View">Mountain View</option>
      <option value="San Francisco">San Francisco</option>
      <option value="Toronto">Toronto</option>
      <option value="Vancouver">Vancouver</option>
      <option value="London">London</option>
      <option value="Paris">Paris</option>
      <option value="Berlin">Berlin</option>
      <option value="n/a">n/a</option>
    </select>
</tr>

<tr>
  <th>Team + Department Code [% mandatory FILTER none %]</th>
  <td>
    <select name="teamcode" id="teamcode">
      <option value="">Please select..</option>
      <option value="placeholder">placeholder</option>
    </select>
  </td>
</tr>

<tr>
  <td><hr></td>
</tr>

<tr>
  <th>Purpose of Gear [% mandatory FILTER none %]</th>
  <td>
    <select name="purpose" id="purpose" onchange="onPurposeChange()">
      <option value="">Please select..</option>
      <option value="Campaign">Campaign</option>
      <option value="Event:">Event:</option>
      <option value="Gear closet at a MozSpace:">Gear closet at a MozSpace:</option>
      <option value="Mozillian Recognition">Mozillian Recognition</option>
      <option value="Onboarding">Onboarding</option>
      <option value="Press">Press</option>
      <option value="VIP">VIP</option>
      <option value="Recruiting">Recruiting</option>
      <option value="Other:">Other:</option>
    </select><br>
    <input name="purpose_other" id="purpose_other" size="50" class="bz_default_hidden">
  </td>
</tr>

<tr>
  <th>Gear Needed [% mandatory FILTER none %]</th>
  <td>
    Include item #, item name, color, size, &amp; quantity.<br>
    <textarea id="gear" name="gear" rows="5" cols="50"></textarea>
  </td>
</tr>

<tr>
  <td><hr></td>
</tr>

<tr>
  <th>Ship to Information</th>
</tr>

<tr>
  <th>First Name [% mandatory FILTER none %]</th>
  <td><input name="shiptofirstname" id="shiptofirstname" size="50" maxlength="50"></td>
</tr>
<tr>
  <th>Last Name [% mandatory FILTER none %]</th>
  <td><input name="shiptolastname" id="shiptolastname" size="50" maxlength="50"></td>
</tr>
<tr>
  <th>Address [% mandatory FILTER none %]</th>
  <td><input name="shiptoaddress1" id="shiptoaddress1" size="50" maxlength="50"></td>
</tr>
<tr>
  <th>Address 2</th>
  <td><input name="shiptoaddress2" id="shiptoaddress2" size="50" maxlength="50"></td>
</tr>
<tr>
  <th>City [% mandatory FILTER none %]</th>
  <td><input name="shiptocity" id="shiptocity" size="50" maxlength="50"></td>
</tr>
<tr>
  <th>State [% mandatory FILTER none %]</th>
  <td><input name="shiptostate" id="shiptostate" size="50" maxlength="50"></td>
</tr>
<tr>
  <th>Country [% mandatory FILTER none %]</th>
  <td><input name="shiptocountry" id="shiptocountry" size="50" maxlength="50"></td>
</tr>
<tr>
  <th>Postal Code [% mandatory FILTER none %]</th>
  <td><input name="shiptopostcode" id="shiptopostcode" size="50" maxlength="50"></td>
</tr>
<tr>
  <th>Telephone [% mandatory FILTER none %]</th>
  <td><input name="shiptophone" id="shiptophone" size="50" maxlength="50"></td>
</tr>
<tr>
  <th>Personal ID/RUT</th>
  <td>
    <input name="shiptoidrut" id="shiptoidrut" size="50" maxlength="50">
    <i>(if your country requires this)</i>
  </td>
</tr>

<tr>
  <td><hr></td>
</tr>

<tr>
  <th>Additional Comments</th>
  <td><textarea id="comment" name="comment" rows="5" cols="50"></textarea></td>
</tr>

<tr>
  <td>&nbsp;</td>
</tr>

<tr>
  <td>&nbsp;</td>
  <td><input type="submit" id="commit" value="Submit Request"></td>
</tr>

</table>
</form>

<p>
  [% mandatory FILTER none %] - Required Field
</p>

<p>
  If this is a time-sensitive request, please place a space request. More information can be found at
  <a href="https://wiki.mozilla.org/GearStore/SpaceRequests" target="_blank">wiki.mozilla.org/GearStore/SpaceRequests</a>.
</p>

<script>
  onPurposeChange();
</script>

[% PROCESS global/footer.html.tmpl %]
