[%# Mapping of products to their security bits %]

[% sec_bits = {
    "mozilla.org"                  =>  6, # mozilla-confidential
    "Webtools"                     => 12, # webtools-security
    "Marketing"                    => 14, # marketing-private
    "addons.mozilla.org"           => 23, # client-services-security
    "AUS"                          => 23,
    "Mozilla Services"             => 23,
    "Mozilla Corporation"          => 26, # mozilla-corporation-confidential
    "Mozilla Metrics"              => 32, # metrics-private
    "Legal"                        => 40, # legal 
    "Mozilla Messaging"            => 45, # mozilla-messaging-confidential 
    "Websites"                     => 52, # websites-security
    "Mozilla Developer Network"    => 52,
    "support.mozilla.com"          => 52,
    "quality.mozilla.org"          => 52,
    "Skywriter"                    => 52,
    "support.mozillamessaging.com" => 52,
    "Bugzilla"                     => 53, # bugzilla-security
    "Testopia"                     => 53,
    "Tamarin"                      => 65, # tamarin-security
    "Mozilla PR"                   => 73, # pr-private
    "_default"                     => 2   # core-security
} %]
