[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Roadmap Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is Mozilla Foundation
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Dave Lawrence <dkl@mozilla.com>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
  title = "Edit Roadmap"
  style_urls = [ 'extensions/Roadmap/web/roadmap.css' ]
%]

[% IF roadmap_list.size %]
  <table class="roadmap-form">
  <thead>
  <tr class="even">
    <th>Edit Roadmap...</th>
    <th>Description</th>
    <th>Owner</th>
    <th>Sortkey</th>
    <th>Deadline</th>
    <th>Active</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  [% FOREACH roadmap = roadmap_list %]
    <tr class="[% loop.count % 2 == 0 ? "even" : "odd" %]">
      <td>
        <a href="[% urlbase FILTER none %]page.cgi?id=roadmap/edit.html&amp;name=[% roadmap.name FILTER url_quote %]">
        [% roadmap.name FILTER html %]</a>
      </td>
      <td>[% roadmap.description FILTER truncate(50, '...') FILTER html %]</td>
      <td>[% roadmap.owner.login FILTER html %]</td>
      <td>[% roadmap.sortkey FILTER html %]</td>
      <td>[% roadmap.deadline FILTER html %]</td>
      <td>[% roadmap.isactive ? "Yes" : "No" %]</td>
      <td>
        <a href="[% urlbase FILTER none %]page.cgi?id=roadmap/delete.html&amp;name=[% roadmap.name FILTER url_quote %]">
        Delete</a>
      </td>
    </tr>
  [% END %]
  </tbody>
  </table>
[% ELSE %]
  No roadmaps currently defined.
[% END %]

<p>
  <a href="page.cgi?id=roadmap/create.html">Add</a> a new roadmap.
</p>

[% PROCESS global/footer.html.tmpl %]
