# don't allow people to retrieve non-cgi executable files or our private data
<FilesMatch ^(.*\.pm|.*\.pl|localconfig~?|processmail|syncshadowdb)$>
  deny from all
</FilesMatch>

<Files nuisancebugs2.html>
  SetOutputFilter INCLUDES
</Files>

# Use this when you want to deny from everyone (except those on the allow lists below).
#deny from all

#2007-01-22 dave - scraping showdependencygraph
#deny from 80.123
#deny from 62.47
#deny from 62.47.128.234
#deny from 62.47.132.89
#deny from 62.47.134.11
#deny from 62.47.136.26
#deny from 62.47.137.137
#deny from 62.47.140.176
#deny from 62.47.144.117
#deny from 62.47.146.93
#deny from 62.47.146.219
#deny from 62.47.147.208
#deny from 62.47.152.85
#deny from 62.47.153.229
#deny from 62.47.155.227
#deny from 62.47.157.228

#2007-01-20 dave - 5 concurrent processes hitting buglist.cgi?ctype=csv (with no parameters) over and over.
deny from 128.2.205.124

#2005-04-29 dave - filing incessant test bugs and otherwise screwing around, banned three accounts from this IP, so banning the IP
deny from 203.124.211.136

# 2004-09-19 dave - spidering attachments
deny from 61.192.164.64

# 2004-05-20 myk: a million requests
deny from 219.54.4.26

# 2004-04-27 dave - HTTrack 3.0
deny from 212.217.60.139

# 2004-03-16 myk: fetch API request
deny from 80.60.15.56

# 2004-02-20 dave - Fetch API Request
deny from 62.180.225.37

# 2004-02-18 myk - lots of hits from "GetLeft" web site downloader
deny from 129.132.126.101

# 2003-12-08 myk - >5000 connections in 20 minutes
deny from 66.98.208.4

# 2003-12-02 dave - attempting to reset passwords on misc @bugzilla.org accounts
deny from 12.10.105.202

# 2003-08-11 pavlov - Pulling far too many bugs
deny from 220.111.244.19

# 2003-08-13 dave - Fetch API Request
deny from 217.81.208.222

# 2003-08-04 dave - various bots found in the logs this morning. (University City Microbot, Mac Finder, NY Internet Srvc)
deny from 212.179.35.145
deny from 65.33.138.146
deny from 12.164.36.148
deny from 208.63.70.189

# 2003-07-20 dave - "Fetch API Request" pulling lots of bugs
deny from 217.229.54.78
deny from 200.150.31.242

#2003-07-11 dave - pulling buglist.cgi repeatedly
#Elapsed time: 61 seconds
# 1. 68.208.38.72    116 hits rslt:503 UA:-
# 2. 68.208.38.73     91 hits rslt:503 UA:-
deny from 68.208.38.72
deny from 68.208.38.73

#2003-07-07 dave
deny from 218.218.135.24

#2003-06-30 dave
#Elapsed time: 30 seconds
# 1. 218.218.209.210 596 hits rslt:503 UA:Java(TM) 2 Runtime Environment, Standard Edition
deny from 218.218.209.210

#2003-06-26 dave - Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.0; .NET CLR 1.1.4322)
# - spidering bugs and attachments - 360 hits in 20 seconds
deny from 67.117.144.245

#2003-06-17 dave - Fetch API request, spidering bugs
deny from 217.231.244.206
deny from 155.158.202.53

# 2003-06-09 dave - "Mozilla/4.0 (compatible; MSIE 6.0; Windows 98) XX" spidering buglists, attachments, bug activity, and graphs
deny from 62.48.74.61

# 2003-06-02 dave - "Dolly Productions v1" UA, spidering attachment view and edit pages
deny from 142.177.177.235

# 2003-05-31 dave - "Ram Finder 1.0.41" UA, spidering buglists (including all the order links across the top)
deny from 219.21.44.111

# 2003-05-31 through 06-02 dave - "Java1.3.1" UA pulling sequential bug numbers from xml.cgi
#  #hits   IP
# 129451 192.109.83.76
#  54829 192.18.243.4
#  49137 192.18.128.13
#  49130 192.18.42.10
#   5556 192.18.42.11
#    888 192.18.240.6
deny from 192.109.83.76
#deny from 192.18.243.4    # Re-enabling these four sun.com IP addresses 7-8-03 dme
#deny from 192.18.128.13   # due to complaint by manager, James.Melvin@sun.com
#deny from 192.18.240.6    # Asked him not to spider any more.
#deny from 192.18.42.10
#deny from 192.18.42.11

# 2003-05-21 dave - Fetch API request pulling sequential bug numbers
deny from 217.86.7.6

#2003-05-07 dave - rotating UAs pulling buglist.cgi in rapid succession
deny from 65.29.84.211

# 2003-05-02 dave - Fetch API Request snagging bugs
#deny from 213.42.2.13
# multiple machines from the following subnet running Fetch API Request - appears to be coordinated, rotating proxy?
#deny from 195.229.241

# 2003-04-29 dave - UA: "linko/0.1 libwww-perl/5.66" pulling sequential bug numbers
deny from 24.114.189.44

# 2003-04-16 dave - HTTrack spiders
deny from 213.56.44.118
deny from 211.90.225.233

# 2003-04-13 dave - Fetch API Request running sequential bugs
deny from 151.12.58.3

# 2003-04-11 dave - 1 hit every 5 seconds, no UA string, but is honoring referers, and obvious that it's spidering
deny from 211.131.109.254

# 2003-04-07 dave - Fetch API bot
#Elapsed time: 61 seconds
# 1. 80.193.125.132   37 hits rslt:200 UA:Mozilla/4.0 (compatible; MSIE 5.5; Windows NT 5.0) Fetch API Request
deny from 80.193.125.132
#Elapsed time: 59 seconds - blocked this guy from bonsai and tinderbox earlier
# 1. 219.164.114.155  83 hits rslt:200 UA:Java(TM) 2 Runtime Environment, Standard Edition
deny from 219.164.114.155

# 2003-04-04 myk - wgetting a bunch of URLs
deny from 128.131.172.102

# 2003-03-26 myk - HTTrack again on multiple IPs in this subnet
deny from 202.166.126

# 2003-03-24 myk - HTTrack 3.0x - tons o' requests
deny from 66.168.252.239

# 2003-03-14 justdave - Fetch API Request - 900 hits in 3 hours.
deny from 200.90.105.253

# 2003-03-14 myk - this guy is using BorderManager 3.0 to slurp a bunch of bugs.
deny from 24.191.3.96

# 2003/02/03  justdave - 1592 hits with Fetch API Request to show_bug and buglist
deny from 193.130.174.47
# 2003/02/03 justdave - Microsoft Scheduled Cache Content Download Service
# and Fetch API Request both on the same IP a couple times per second
deny from 196.36.178.34
# 2003/02/03 justdave - 300 hits inside a half hour, 5 or 6 in rapid suceession every 5 or 10 seconds
deny from 65.39.161.141
# 2003/02/03 justdave - 2272 hits with UA claiming to be MSIE, but &amp; in the query_string, so it's a bad script
deny from 219.113.66.88

# this person keeps searching for users named "downloadable music"
deny from 209.4.253.242

# this person keeps running crazy queries where assignee=[some url]
deny from 213.130.21.83

# in the last hour, this host has over 400 hits on showdependencytree.cgi
# 2003-01-23, useragent Teleport Pro/1.29, which is a webspider
deny from 203.143.0.41

# at Nov 1, 3:30am, these hosts already had this many hits
#  633 66.1.74.65
# 1771 212.219.82.31
deny from 66.1.74.65
deny from 212.219.82.31

# in the last hour 286 hits from 66.28.248.146, 743 from 63.241.25.131
# dme oct 23,2002
deny from 66.28.248.146
deny from 63.241.25.131

# in the last week, each of these guys has accessed bugzilla more times than
# all of cpd combined (dme- oct 23, 2002)
deny from 66.124.15.67
deny from 62.251.64.209

#deny from sites running robots
deny from 213.97.34.202
deny from 61.185.242.162
deny from 66.28.248.146
deny from 202.164.186.106
#deny from 194.65.14.70 # removed 2004-01-25 justdave - proxy server for telepac.pt, legit user can't connect
deny from 208.44.118.140
deny from 63.64.158.222
deny from 63.241.25.131

#this person hit showdependencytree.cgi a zillion times and put the load
#on mothra at 90
deny from 68.2.234.16

# 2002-06-11 myk@mozilla.org: This person keeps hitting buglist.cgi by itself,
# which is tying up the server.
deny from 61.222.142.114

# 2002-07-12 myk@mozilla.org: Here's another one hitting buglist.cgi by itself:
deny from 210.175.61.235

# 2002-08-19 myk@mozilla.org: This person hits showdependencygraph.cgi?id=11033
# every 30 seconds.
deny from 62.179.0.29
deny from 24.56.51.20


# 2002-08-27 myk@mozilla.org: Folks that appear to be hitting us with bots.
deny from 80.141.89.7
deny from 216.251.134.54
deny from 80.141.89.7
deny from 65.58.213.97


# 2002-10-10 myk@mozilla.org: This guy hit show_bug.cgi repeatedly
# with a user agent containing: 
# Microsoft Scheduled Cache Content Download Service
deny from 194.215.65.2

# "404-Error-Search (Rel. 0.3)"
deny from 217.1.113.177     

# 2002-10-29 myk@mozilla.org: these guys are hitting a bunch of stuff
deny from 66.28.233.165
deny from 206.47.125.130

# 2002-11-06 myk@mozilla.org: this guy hit a bunch of stuff, including frequent
# calls to showdependencygraph.cgi and some calls that were timed to regularly
# to be other than a robot
deny from 210.201.31.246

# 2002-11-06 myk@mozilla.org: this person decided to download beos bugs
# as fast as possible
deny from 213.65.98.237


# 2002-11-11 myk@mozilla.org: this person was DOSing us with Fetch API Requests
deny from 66.124.15.67

# 2002-11-17 myk@mozilla.org: this person keeps hitting showdependencygraph.cgi
# on different bugs way too fast
deny from 24.196.228.64

# 2002-11-27 myk@mozilla.org: this guy seems to be indexing the mozilla.org web site
# and hitting any bugzilla links it finds along the way (f.e. on the phoenix
# and bugzilla project pages)
deny from 213.97.178.231

# 2002-11-27 myk@mozilla.org: Fetch API requests
deny from 217.192.13.18
deny from 217.136.233.175

###
#deny from 128.2.203.252
# hallorant@acm.org from cmu.edu was running a bot to study the db
# aka hallorant@yahoo.com 
###
# matic begged me to undo this one
#deny from 80.240.224.178
#
# these are addresses that should be allowed on the 
# occasions when we need to deny from all
# BEWARE! "allow from hostname" turns on HostnameLookup and
# slows down the server
#allow from netscape.com
#allow from aoltw.com
#allow from aoltw.net
#allow from dnvr.uswest.net
#allow from accutex4-ded.Muskegon.novagate.net
allow from 64.243.35.131
#allow from pixpat.austin.ibm.com
#allow from il.ibm.com
#allow from pix-fw.wan.aol.com
#allow from sun.com
allow from 10.4.250.1
allow from 10.4.250.2
allow from 10.4.250.3
allow from 10.4.250.4
allow from 10.4.250.5
allow from 10.4.250.6
#allow from wgate.com
#allow from oeone.com
#allow from tive.org
allow from 216.191.248.101
allow from 216.191.248
allow from 64.81.68.125
allow from 207.200.81.216
allow from 64.236.138.69


# Point users to signed version of duplicates report
Redirect duplicates.xul jar:http://bugzilla.mozilla.org/duplicates.jar!/duplicates.xul

Redirect permanent queryhelp.cgi https://bugzilla.mozilla.org/query.cgi?format=advanced&help=1
Redirect permanent bug_status.html https://bugzilla.mozilla.org/page.cgi?id=fields.html
Redirect permanent duplicates.rdf https://bugzilla.mozilla.org/data/duplicates.rdf
Redirect permanent bugwritinghelp.html https://bugzilla.mozilla.org/page.cgi?id=bug-writing.html

# Remove this after upgrading to a version of Bugzilla that has config.cgi.
#Redirect /config.cgi http://bugzilla.mozilla.org/localconfig.rdf

