# Don't allow people to retrieve non-cgi executable files or our private data
<FilesMatch ^(.*\.pm|.*\.pl|.*localconfig.*)$>
  deny from all
</FilesMatch>

# Point users to signed version of duplicates report
Redirect /duplicates.xul jar:http://bugzilla.mozilla.org/duplicates.jar!/duplicates.xul
Redirect permanent /queryhelp.cgi https://bugzilla.mozilla.org/query.cgi?format=advanced&help=1
Redirect permanent /bug_status.html https://bugzilla.mozilla.org/page.cgi?id=fields.html
Redirect permanent /duplicates.rdf https://bugzilla.mozilla.org/data/duplicates.rdf
Redirect permanent /bugwritinghelp.html https://bugzilla.mozilla.org/page.cgi?id=bug-writing.html
Redirect permanent /etiquette.html https://bugzilla.mozilla.org/page.cgi?id=etiquette.html
Redirect permanent /duplicates.html https://bugzilla.mozilla.org/duplicates.cgi

RewriteEngine On
# yes I know the . after form. could be any character... that's probably okay. :)
RewriteRule ^form.(itrequest|brownbag|legal|mktgevent|poweredby|presentation|swag|trademark)$ /data/www/bugzilla.mozilla.org/enter_bug.cgi?product=mozilla.org&format=$1
RewriteRule ^form.(mozpr)$ /data/www/bugzilla.mozilla.org/enter_bug.cgi?product=Mozilla+PR&format=$1
