<td align="center">
  <input type="checkbox" 
         name="in_frontpage_[% q.id FILTER html %]"
         value="1"
         alt="[% q.name FILTER html %]"
         [% " checked" IF q.in_frontpage %]>
</td>
