[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE
  # none
  # 
  # Param("maintainer") is used to display the maintainer's email.
  # Param("emailsuffix") is used to pre-fill the email field.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% title = BLOCK %]
  Create a new [% terms.Bugzilla %] account
[% END %]

[% PROCESS global/header.html.tmpl
           title = title
           onload = "document.forms['account_creation_form'].login.focus();" %]

<div style="font-size: large;">
<p>
  Want to help us out by reporting a bug?  Great!  It's really simple to get
  started, just give us the email address you want to use.  Once we confirm
  that it works, your account will be active and you can start filing bugs
  and helping fix them.
</p>

<form id="account_creation_form" method="get" action="createaccount.cgi">
  <table align="center">
    <tr>
      <td align="right">
        <b>Email address:</b>
      </td>
      <td>
        <input size="35" id="login" name="login">
        [% Param('emailsuffix') FILTER html %]
      </td>
      <td>
        <input type="submit" id="send" value="Create Account">
      </td>
    </tr>
  </table>
</form>

<p>
  Do read our
  <a href="page.cgi?id=etiquette.html" target="_blank">Bugzilla Guidelines</a>
  (opens in a new window) while you wait.  Remember that Bugzilla is a public
  place, so what you type here, and the email address you use, will be visible
  to others (including spammers).  Many people use an 
  <a href="http://email.about.com/od/freeemailreviews/tp/free_email.htm" target="_blank">alternate email address</a>
  for this reason.
</p>

<p>
  Did you just need tech support with a Mozilla product/project?
</p>

<div id="product_support_links">
  <div class="support_div" style="float:left;"><img align="left" src="extensions/BMO/web/producticons/firefox.png"/>
    <a href="http://support.mozilla.com/">Firefox Support</a></div>
  <div class="support_div" style="float:right;"><img align="left" src="extensions/BMO/web/producticons/thunderbird.png"/>
    <a href="http://www.mozillamessaging.com/support/">Thunderbird Support</a></div>
  <div class="support_div" style="margin-left: auto; margin-right: auto; clear: both;"><img align="left" src="extensions/BMO/web/producticons/dino.png"/>
    <a href="http://www.mozilla.org/support/">Support for other Mozilla products</a></div>
</div>


<p style="font-size: small;">
  (If you think there's something wrong with Bugzilla, you can
  <a href="mailto:bugzilla-admin@mozilla.org">send an email to the admins</a>, but
  remember, they can't file bugs for you, or solve tech support problems.)
</p>

</div>

[% PROCESS global/footer.html.tmpl %]
