    <tr>
      <th align="right"><label for="is_active">Active:</label></th>
      [% IF product.default_milestone == milestone.name %]
        <td>
          <input type="checkbox" disabled="disabled" checked="checked" >
          <input type="hidden" name="is_active" value="1">
          <i>Cannot disable default milestone</i>
        </td>
      [% ELSE %]
        <td><input type="checkbox" id="is_active" name="is_active" value="1"
        [%- "checked=\"checked\"" IF milestone.is_active %]></td>
      [% END %]
    </tr>
    <tr>
      <th align="right"><label for="is_searchable">Show on search page:</label></th>
      [% IF product.default_milestone == milestone.name %]
        <td>
          <input type="checkbox" disabled="disabled" checked="checked">
          <input type="hidden" name="is_searchable" value="1">
          <i>Default milestone cannot be disabled</i>
        </td>
      [% ELSE %]
        <td><input type="checkbox" id="is_searchable" name="is_searchable" value="1"
        [%- "checked=\"checked\"" IF milestone.is_searchable %]></td>
      [% END %]
    </tr>
