[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Splinter Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is Red Hat, Inc.
  # Portions created by Red Hat, Inc. are Copyright (C) 2008
  # Red Hat, Inc. All Rights Reserved.
  #
  # Contributor(s): Owen Taylor <otaylor@redhat.com>
  #%]

[% PROCESS global/header.html.tmpl
  title = "Patch Review"
  header = "Patch Review"
  style_urls = [ "extensions/Splinter/web/splinter.css" ]
  javascript_urls = [ "extensions/Splinter/web/jquery.min.js",
                      "extensions/Splinter/web/splinter.flat.js" ]
  subheader = "&nbsp;"
  header_addl_info = "&nbsp;"
%]
<script type="text/javascript">
  configBase = '[% urlbase FILTER none %][% Param('splinter_base') FILTER js %]';
  configBugzillaUrl = '[% urlbase FILTER none %]';
  configHaveExtension = true;
  configHelp = '[% urlbase FILTER none %]page.cgi?id=splinter/help.html';
  configNote = '';

  configAttachmentStatuses = [
  [% FOREACH status = attachment_statuses %]
    '[% status FILTER js %]',
  [% END %]
  ];

  bugId = isDigits('[% bug_id FILTER js %]') ? parseInt('[% bug_id FILTER js %]') : NaN;
  attachmentId = isDigits('[% attach_id FILTER html %]') ? parseInt('[% attach_id FILTER js %]') : NaN;

  if (bugId === undefined || isNaN(bugId)) {
      if (bugId !== undefined)
          displayError("Bug ID '[% bug_id FILTER js %]' is not valid");
      showEnterBug();
  } else {
      if (attachmentId === undefined || isNaN(attachmentId)) {
          if (attachmentId !== undefined) {
              displayError("Attachment ID '[% attach_id FILTER js %]' is not valid");
              attachmentId = undefined;
          }
      } 

      var theBug = new Bug.Bug();
      theBug.id = parseInt('[% bug.id FILTER js %]');
      theBug.token = '[% update_token FILTER js %]';
      theBug.shortDesc = Utils.strip('[% bug.short_desc FILTER js %]');
      theBug.creationDate = Bug.parseDate('[% bug.creation_ts FILTER time("%Y-%m-%d %T %z") FILTER js %]');
      theBug.reporterEmail = Utils.strip('[% bug.reporter.email FILTER js %]');
      theBug.reporterName = Utils.strip('[% bug.reporter.name FILTER js %]');

      [% FOREACH comment = bug.comments %]
        var comment = new Bug.Comment();
        comment.whoName = Utils.strip('[% comment.author.name FILTER js %]');
        comment.whoEmail = Utils.strip('[% comment.author.email FILTER js %]');
        comment.date = Bug.parseDate('[% comment.creation_ts FILTER time("%Y-%m-%d %T %z") FILTER js %]');
        comment.text = '[% comment.thetext FILTER js %]';
        theBug.comments.push(comment);
      [% END %]

      [% FOREACH attachment = bug.attachments %]
        var attachid = parseInt('[% attachment.id FILTER js %]');
        var attachment = new Bug.Attachment('', attachid);
        [% IF attachment.id == attach_id && attachment.ispatch %]
          attachment.data = '[% attachment.data FILTER js %]';
        [% END %]
        attachment.description = Utils.strip('[% attachment.description FILTER js %]');
        attachment.filename = Utils.strip('[% attachment.filename FILTER js %]');
        attachment.date = Bug.parseDate('[% attachment.attached FILTER time("%Y-%m-%d %T %z") FILTER js %]');
        attachment.whoName = Utils.strip('[% attachment.attacher.name FILTER js %]');
        attachment.whoEmail = Utils.strip('[% attachment.attacher.email FILTER js %]');
        //attachment.status = Utils.strip($(this).children('status').text());
        //if (attachment.status == "")
        //        attachment.status = null;
        //attachment.token = Utils.strip($(this).children('token').text());
        //if (attachment.token == "")
        attachment.token = null;
        attachment.isPatch = [% attachment.ispatch ? 1 : 0 %];
        attachment.isObsolete = [% attachment.isobsolete ? 1 : 0 %];
        attachment.isPrivate = [% attachment.isprivate ? 1 : 0 %];
        theBug.attachments.push(attachment);
      [% END %]
  }

  $(function() { init(); });
</script>

<!--[if lt IE 7]>
<p style="border: 1px solid #880000; padding: 1em; background: #ffee88; font-size: 120%;">
   Splinter Patch Review requires a modern browser, such as
   <a href="http://www.firefox.com">Firefox</a>, for correct operation.
</p>
<![endif]-->
<div id="error" style="display: none;"> </div>
<div id="navigation" style="display: none;"></div>
<div id="bugInfo" style="display: none;">
  Bug <span id="bugId"></span> -
  <span id="bugShortDesc"></span> -
  <span id="bugReporter"></span> -
  <span id="bugCreationDate"></span>
</div>
<div id="loading">Loading....</div>
<div id="enterBug" style="display: none;">
  Bug to review:
  <input id="enterBugInput" />
  <input id="enterBugGo" type="button" value="Go" />
  <div id="chooseReview" style="display: none;">
     Drafts and published reviews:
    <table>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
<div id="chooseAttachment" style="display: none;">
  Choose patch attachment to review:
  <table>
    <tbody>
    </tbody>
  </table>
  <a id="originalBugLink">Go to bug</a>
  <a id="allReviewsLink">Your reviews</a>
</div>
<div id="overview" style="display: none;">
  <div id="patchIntro">
  </div>
  <div>
    <span class="review-title">
      Your Review
    </span>
    <span id="restored" style="display: none;">
      (Restored from draft; last edited <span id="restoredLastModified"></span>)
    </span>
  </div>
  <div>
    <div id="myCommentFrame">
      <textarea id="myComment"></textarea>
      <div id="emptyCommentNotice">&lt;Overall Comment&gt;</div>
    </div>
    <div id="myPatchComments"></div>
    <div id="buttonBox">
      <span id="attachmentStatusSpan">Patch Status:
	<select id="attachmentStatus"> </select>
      </span>
      <input id="publishButton" type="button" value="Publish" />
      <input id="cancelButton" type="button" value="Cancel" />
    </div>
    <div class="clear"></div>
  </div>
  <div id="oldReviews" style="display: none;">
    <div class="review-title">
      Previous Reviews
    </div>
  </div>
</div>
<div id="files" style="display: none;"></div>
<div id="credits" style="display: none;">
  Powered by <a href="http://fishsoup.net/software/splinter">Splinter</a> |
  <a id='helpLink' target='splinterHelp'>Help</a>
</div>
<div id="saveDraftNotice" style="display: none;"></div>

[% PROCESS global/footer.html.tmpl %]
