@namespace url(http://www.w3.org/1999/xhtml);

body {
    color: #444;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

a, a:visited {
    color: #c30;
}

a:hover {
    color: #c30;
    border-bottom: 1px solid #666;
    text-decoration: none;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
}

#header {
    margin: -15px;  
    line-height: 2;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#titles {
    background: #c30;
    border-radius: 0; 
    padding: 5px 15px;  
}

#header .subheader {
    text-align: left;
    padding-left: 10px;
}

#header .links {
    background: #666;
    border: none;
    border-radius: 0;
    padding: 5px 15px;
}

.links a {
    color: #fff;
    margin-right: 8px;
}


.separator {
    display: none;
}

#bugzilla-body {
    background: none;
    border: none;
    margin-top: 100px;
    margin-bottom: 15px;
    padding: 0;
}

#quicksearch_main, #quicksearch_top, #quicksearch_bottom, #short_desc {
    -moz-appearance: searchfield;
}

/* Home */

#page-index td:first-child {
    text-align: center;
}

#page-index a {
    background: none;
    display: inline;
    float: none;
    height: auto;
    width: auto;
}

#quicksearch_main {
    padding-left: 5px;
}

#quicksearch_links {
    margin-top: 5px;
}

/* Bugs */

u {
    text-decoration: none;
}

#field_container_see_also br {
    margin-bottom: 10px;
}

.bz_alias_short_desc_container {
    background: #eee;
    border-radius: 0;
    line-height: 22px;
    padding: 10px;
}

.bz_alias_short_desc_container .editme {
    font-weight: normal;
}

.last_comment_link b {
    font-weight: normal;
}

.edit_form {
    padding-bottom: 20px;
    position: relative;
}

.edit_form hr {
    margin-top: 40px;
}

#bz_show_bug_column_1 tr:last-child span {
    display: none;
}

#bz_show_bug_column_1 tr:last-child {
    position: absolute;
    bottom: 40px;
    right: 0;
}

#project-flags, #custom-flags {
    border-collapse: collapse;
}

#project-flags td:first-child, #custom-flags td:first-child {
    display: none;
}

#project-flags label, #custom-flags label {
    margin-right: 10px;
}

#attachment_table {
    background: #fafafa;
    border: none;
    border-collapse: collapse;
}

#attachment_table td {
    border: none;
}

.bz_comment {
    background: transparent;
}

.bz_comment pre {
    font: 14px/1.3 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.bz_first_comment_head, .bz_comment_head {
    background: #eee;
    margin: -5px -5px 5px;
    padding: 5px;   
}

.ih_history_item:not(.ih_hidden) ~ .ih_history_item:not(.ih_hidden) {
    margin-top: 10px;
}

.bz_comment_text span.quote {
    background: #eee;
    color: #444;
    display: block;
    margin-top: 5px;
    margin-bottom: -15px;
    padding: 5px;
}

#comment {
    margin-bottom: 20px;
}

.field_label {
    padding-right: 10px;
}

#footer {
    display: none;
}

/* Attachments */

#viewFrame {
    border: 2px solid #444;
    margin-bottom: 10px;
}

#editFrame, #viewDiffFrame, #viewFrame {
    margin-left: 0;
}

#flags label {
    font-weight: normal;
}

#flags td:first-child {
    display: none;
}
