[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is the Mozilla Corporation
  # Portions created by Mozilla are Copyright (C) 2008 Mozilla Corporation. 
  # All Rights Reserved.
  #
  # Contributor(s):     Elliotte Martin <emartin@everysolved.com>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% expiration_ts = token_ts + (max_token_age * 86400) %]
From: [% Param('mailfrom') %]
To: [% emailaddress %]
Subject:  [% terms.Bugzilla %] Account Lock-Out
X-Bugzilla-Type: admin

Your [%+ terms.Bugzilla %] account was locked, as the maximum number ([%+ max_logins +%]) of 
failed logins was exceeded. To unlock your account, visit the following link:

[%+ urlbase %]token.cgi?t=[% token FILTER url_quote %]&a=unlock_account

The login attempts occurred from these IP addresses:


[% FOREACH login = login_activity %]
[% login.ip_addr FILTER html %] at [% login.login_time FILTER html %]

[% END %]
If you are not the person who made this request, or if you do nothing, the
request will lapse after [%+ max_token_age +%] days (at precisely 
[%+ time2str("%H:%M on the %o of %B, %Y", expiration_ts) -%]).
