[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Roadmap Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is Mozilla Foundation
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Dave Lawrence <dkl@mozilla.com>
  #%]

[% IF message_tag == "roadmap_created" %]
  [% title = "Roadmap Created" %]
  The roadmap <em>[% roadmap.name FILTER html %]</em> has been created.

[% ELSIF message_tag == "roadmap_deleted" %]
  [% title = "Roadmap Deleted" %]
  The roadmap <em>[% roadmap.name FILTER html %]</em> has been deleted.

[% ELSIF message_tag == "roadmap_updated" %]
  [% title = "Roadmap Updated" %]
  [% IF changes.size %]
    Changes to the roadmap <em>[% roadmap.name FILTER html %]</em>
    have been saved:
    <ul>
      [% IF changes.name.defined %]
        <li>Name updated to <em>[% roadmap.name FILTER html %]</em></li>
      [% END %]
      [% IF changes.sortkey.defined %]
        <li>Sortkey updated to <em>[% roadmap.sortkey FILTER html %]</em>
      [% END %]
      [% IF changes.isactive.defined %]
        <li>Roadmap has been [% roadmap.is_active ? "enabled" : "disabled" %]</li>
      [% END %]
      [% IF changes.owner.defined %]
        <li>Owner updated to <em>[% roadmap.owner.login FILTER html %]</em></li>
      [% END %]
      [% IF changes.description.defined %]
        <li>Description has been updated</li>
      [% END %]
    </ul>
  [% ELSE %]
    No changes made to roadmap <em>[% roadmap.name FILTER html %]</em>.
  [% END %]
[% END %]
