[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[% PROCESS global/variables.none.tmpl %]
[% INCLUDE global/header.html.tmpl title = "Reporting A Broken Website" %]

<p>To report a broken website, first please make sure that you are running the <a href="http://www.mozilla.org/projects/firefox/">latest developer release</a> of Firefox. By the time consumer releases are produced (such as Firefox 1.0), the core Gecko website rendering engine is often several months old and many bugs will already have been fixed.</p>

<p>Then, pull down the "Help" menu and select "Report Broken Web Site". This will start a wizard which will prompt you for the information required (<a href="http://reporter.mozilla.org/privacy/">privacy policy</a>). This information is sent to a database and aggregated, so we have a good idea of which sites the most people are having problems with.
</p>

<p>If you are interested, you can <a href="http://reporter.mozilla.org/">search the database of reports</a>.

[% INCLUDE global/footer.html.tmpl %]

