[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): David Miller <justdave@bugzilla.org>
  #%]

[% INCLUDE global/header.html.tmpl title = "Bugzilla Upgrade" %]
[% USE date %]

<p><b>Last Updated:</b> [% date.format(template.modtime, "%d-%b-%Y %H:%M %Z") %]</p>
<!-- <p><b>Includes changes made to Bugzilla-trunk through:</b> 21-Dec-2006</p>

<p>On Tuesday, December 26, 2006, at 6pm PST (2am UTC), bugzilla.mozilla.org
was upgraded to the current prerelease of Bugzilla version 3.0 (currently 2.23.3+/2.23.4).</p> -->

This upgrade is still in progress, this page will be updated with more complete release notes as I get time, and prior to deployment on b.m.o.  The best way to provide feedback currently is to discuss in #bmo on IRC.  There's enough in place now to file bugs if you find problems that aren't listed below.  Please file them in the <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=mozilla.org&amp;component=Bugzilla:+Other+b.m.o+Issues&amp;blocked=bmo-upgrade">production Bugzilla system</a>.

<h3>Known Issues</h3>

The following is a list of issues which are known to be broken or incomplete with this upgrade so far.  I will remove from this list as I fix things, and add to it as things are reported to me.

<ul>

<li>Client-side javascript sorting of buglists is currently broken</li>
<li>Keyword autocomplete is currently disabled - this is coming back, though; I found a way to make it not autocomplete '4xp' when you tab through the field now. :)</li>
<li>Disabled milestones don't show up as disabled yet</li>
<li>Patch column is missing on buglist</li>
<li>Home page is less temporary, now. I have more theme work coming from pyrzak to clean up the front page with its current theme and skin the interior the match (but without all the bloat in the header on the internal pages), since initial reactions to that theme were positive when it was posted to planet.</li>

</ul>

<h3>Last Ten Commits</h3>

<pre>[% bzr_history.join('') FILTER html %]</pre>

<br>

[% INCLUDE global/footer.html.tmpl %]
