[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Roadmap Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is Mozilla Foundation
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Dave Lawrence <dkl@mozilla.com>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
   title = "Roadmaps"
   style_urls = [ "extensions/Roadmap/web/roadmap.css" ]
%]

[% IF roadmap %]
  <p>
    <a href="[% urlbase FILTER none %]page.cgi?id=roadmap.html">Back to roadmap list</a>
  </p>
  
  <div class="roadmap">
    <h2>[% roadmap.name FILTER html %]</h2>
  
    [% IF roadmap.deadline %]
      <div class="deadline">
        <b>Deadline:</b> [% roadmap.deadline FILTER html %]
      </div>
    [% END %]
  
    <div class="description">[% roadmap.description FILTER html_light %]</div>
    
    <h3>Total Progress</h3>    
    [% INCLUDE bar_graph 
       total  = roadmap.stats.total
       open   = roadmap.stats.open
       closed = roadmap.stats.closed
    %]
   
    <h3>Milestones</h3>
    [% FOREACH milestone = roadmap.milestones %]
      <h4>[% milestone.name FILTER html %]</h4>
  
      [% INCLUDE bar_graph 
         total        = milestone.stats.total
         open         = milestone.stats.open
         closed       = milestone.stats.closed
         total_query  = milestone.query 
         open_query   = milestone.query _ "&amp;bug_status=__open__"
         closed_query = milestone.query _ "&amp;bug_status=__closed__"
      %]
    [% END %]
  </div>

[% ELSE %]
  <p>
    Click on roadmap name to see individual milestones.
  </p>

  [% FOREACH roadmap = roadmap_list %]
    <div class="roadmap">
      <h2><a href="[% urlbase FILTER none %]page.cgi?id=roadmap.html&amp;name=[% roadmap.name FILTER html %]">
          [% roadmap.name FILTER html %]</a></h2>
  
      [% IF roadmap.deadline %]
        <div class="deadline">
          <b>Deadline:</b> [% roadmap.deadline FILTER html %]
        </div>
      [% END %]
  
      <div class="description">[% roadmap.description FILTER html_light %]</div>
  
      [% INCLUDE bar_graph
         total  = roadmap.stats.total
         open   = roadmap.stats.open
         closed = roadmap.stats.closed
      %]  
    [% END %]
  </div>
[% END %]

[% PROCESS global/footer.html.tmpl %]

[% BLOCK bar_graph %]
  [% IF total > 0 %][%# No divide by zero %]
    [% percentage_closed = (closed / total) * 100 FILTER format('%02.2f') %]
  [% ELSE %]
    [% percentage_closed = 0 %]
  [% END %]

  <div class="progress">
    <div class="bar_graph">
      <div class="graph_color" style="width:[% percentage_closed FILTER html %]%;"></div>
    </div>
    <p class="legend">
      <span class="interval">Percentage: 
        [% percentage_closed FILTER html %]%
      </span> -
      <span class="interval">
        [% IF total_query %]<a href="[% urlbase FILTER none %]buglist.cgi?[% total_query FILTER none %]">[% END %]
        Total: [% total FILTER html %]
        [% IF total_query %]</a>[% END %]
      </span> -
      <span class="interval">
        [% IF closed_query %]<a href="[% urlbase FILTER none %]buglist.cgi?[% closed_query FILTER none %]">[% END %]
        Closed: [% closed FILTER html %]
        [% IF closed_query %]</a>[% END %]  
      </span> -
      <span class="interval">
        [% IF open_query %]<a href="[% urlbase FILTER none %]buglist.cgi?[% open_query FILTER none %]">[% END %]
        Active: [% open FILTER html %]
        [% IF open_query %]</a>[% END %]
      </span>
    </p>
  </div>
[% END %]
