[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # bug: object. The bug whose activity is being displayed.
  # operations: array of hashes, see activity/table.html.tmpl.
  #
  # This template also needs to be called with the interface to the
  # activity/table.html.tmpl template fulfilled.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% filtered_desc = bug.short_desc FILTER html %]
[% IF bug_id %]
  [% title = "Changes made to $terms.bug $bug_id" %]
  [% subheader = "$terms.Bug <a href=\"show_bug.cgi?id=$bug_id\">$bug_id</a>" %]
[% ELSE %]
  [% title = "Changes made by users" %]
  [% subheader = "Changes made by users" %]
[% END %]

[% PROCESS global/header.html.tmpl
  header = "Activity log for $terms.bug $bug.bug_id: $filtered_desc"
  title = title
  subheader = subheader
 %]

[% UNLESS bug_id %]
  Changes made by users matching <b>"[% match FILTER html %]"</b>
  [% IF chfrom %]
    between [% chfrom FILTER html%] and [% chto FILTER html %]
  [% ELSE %]
    up to [% chto FILTER html %]
  [% END %]
 <br>
 <br>
[% END %]

[% FOREACH a = activities %]
  [% NEXT UNLESS a.value.operations.size %]
  [% PROCESS bug/activity/table.html.tmpl operations = a.value.operations
                                          incomplete_data = a.value.incomplete_data
                                          hidden_changes = a.value.hidden_changes
                                          title = users.${a.key}.identity  %]
  [% "<br><hr><br>" UNLESS loop.last %]
[% END %]

[% IF bug_id %]
<p>
  [% "Back to $terms.bug $bug.bug_id" FILTER bug_link(bug.bug_id) FILTER none %]
</p>
[% ELSE %]
  <br><br>
[% END %]

[% PROCESS bug/activity/table.html.tmpl %]

[% IF operations.size > 0 %]
  <p>
    [% "Back to $terms.bug $bug.bug_id" FILTER bug_link(bug.bug_id) FILTER none %]
  </p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
