[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Mozilla Corporation.
  #
  # Contributor(s): Reed Loden <reed@mozilla.com>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
   title = "Mozilla Corporation - New Hire IT Request"
%]

[% USE Bugzilla %]

<p><strong>New Hire IT Request</strong></p>

<form method="post" action="newhire.cgi" id="newHireForm">

  <input type="hidden" name="product" value="mozilla.org">
  <input type="hidden" name="rep_platform" value="All">
  <input type="hidden" name="op_sys" value="Other">
  <input type="hidden" name="priority" value="--">
  <input type="hidden" name="version" value="other">

  <!-- mozilla.org confidential -->
  <input type="hidden" name="bit-6" id="bit-6" value="1">

  <table>

    <tr>
      <td align="right"><strong>First name:</strong></td>
      <td><input type="text" name="first_name" size="20"></td>
    </tr>

    <tr>
      <td align="right"><strong>Last name:</strong></td>
      <td><input type="text" name="last_name" size="20"></td>
    </tr>

    <tr>
      <td align="right"><strong>Hire type:</strong></td>
      <td>
        <select id="hire_type" name="hire_type">
          <option value="employee">Employee</option>
          <option value="contractor">Contractor</option>
          <option value="intern">Intern</option>
        </select>
      </td>
    </tr>

  </table>

  <br>
  <br>

  <table>
    <input type="hidden" name="short_desc" value="New Hire Account Request - John Doe">
    <tr>
      <td align="right"><input type="checkbox" name="mail_needed"></td>
      <td colspan="2"><strong>Will this user need a mail account?</strong></td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td colspan="2">User accounts are created in the form of &lt;first letter of first name&gt;&lt;full last name&gt; (example: John Doe would be "jdoe").</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="2">Alias <input name="mail_alias" size="20"> (if wanted to suppliment default username)</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="2">Besides "all", which mailing lists should this user be a member of? (optional)</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="2"><input type="checkbox" name="mail_list_mv-all">&nbsp;mv-all</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="2"><input type="checkbox" name="mail_list_toronto">&nbsp;toronto</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="2"><input type="checkbox" name="mail_list_canada">&nbsp;canada</td>
    </tr>
  </table>

  <br>

  <table>
    <tr>
      <td align="right"><input type="checkbox" name="machine_needed"></td>
      <td colspan="2"><strong>Will this user need a machine?</strong></td>
    </tr>
    <input type="hidden" name="short_desc" value="Machine Request - John Doe">

    <tr>
      <td>&nbsp;</td>
      <td align="right">Type of machine needed:</td>
      <td>
        <select id="machine_type" name="machine_type">
          <option value="None selected">Please select...</option>
          <option value="Laptop - Windows">Laptop - Windows</option>
          <option value="Laptop - Mac">Laptop - Mac</option>
          <option value="Laptop - No OS (for Linux)">Laptop - No OS (for Linux)</option>
          <option value="Desktop - Windows">Desktop - Windows</option>
          <option value="Desktop - Mac">Desktop - Mac</option>
          <option value="Desktop - No OS (for Linux)">Desktop - No OS (for Linux)</option>
        </select>
      </td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td align="right" valign="top">Notes (optional):</td>
      <td>
        <textarea name="machine_notes" rows="5" cols="40"></textarea>
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td align="right"><input type="checkbox" name="building_access_needed"></td>
      <td colspan="2"><strong>Will this user need building access?</strong></td>
    </tr>
    <input type="hidden" name="short_desc" value="Building Access Needed - John Doe">

    <tr>
      <td>&nbsp;</td>
      <td align="right">For which location:</td>
      <td>
        <select id="building_location" name="building_location">
          <option value="None selected">Please select...</option>
          <option value="Mountain View">Mountain View</option>
          <option value="Toronto">Toronto</option>
        </select>
      </td>
    </tr>
  </table>

  <br>

        <input type="submit" value="Submit Request">
</form>

<p>Thanks for contacting us.
   You will be notified by email of any progress made in resolving your
   request.
</p>

[% PROCESS global/footer.html.tmpl %]
