[% IF message_tag == "moz_project_review_creation_failed" %]
  The parent [% terms.bug %] was created successfully,  but creation of
  the dependent [% terms.bugs %] failed. The error has been logged
  and no further action is required at this time.
[% END %]
