<!-- BMO-specific notes and help for SecureMail -->
<p>
  <b>Note that Securemail will only be sent for groups which have had the "send secure mail" bit enabled. Currently, that's not 
  any of them - so adding a key here will make no changes to your bugmail. Yet.</b>
</p>
