<p>For more information on obtaining a key, and how to get it into the right format, see the <a href="https://wiki.mozilla.org/BMO/Keys">Mozilla wiki</a>.</p>

<p><b>Note that Securemail will only be sent for groups which have had the "send secure mail" bit enabled. Currently, that's not any of them - so adding a key here will make no changes to your bugmail. Yet.</b></p>
