[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% title = "Tell Us More"
   desc = "Configure Tell Us More"
%]

[% param_descs = {
    tell_us_more_shared_secret => "This is the shared secret used to pass error " _
                                  "messages to input.mozilla.org in a secure way."
  }
%]
